header {
    background-color: #ffcc00; 
    color: #000;
    padding: 20px;
    text-align: center;
    background: radial-gradient(circle, #feeb67 0%, #ffcb2f 40%, #efb810 80%); 
    background-size: 300% 300%;
    animation: moverCirculo 8s linear infinite;
}

@keyframes moverCirculo {
  0% {
    /* Começa com o círculo no canto superior esquerdo */
    background-position: 0% 0%;
  }
  50% {
    /* Chega no canto inferior direito */
    background-position: 100% 100%;
  }
  100% {
    /* Volta para o início de forma suave para não dar pulo visual */
    background-position: 0% 0%;
  }
}