/* Requisito F: Propriedade de cores e fontes */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1a1a1a; /* fundo escuro (tema academia) */
    color: #ffffff; /* texto branco*/
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #000 !important;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px;
}

button {
    background-color: #ffcc00;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px
}
#dica[type="text"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
    width: 270px;
    display: none;
}

/* estilo para as listas da página "sobre" */

main ul, main ol {
    display: inline-block;
    text-align: left;
    margin-top: 20px;
    line-height: 1.8;
}

h3 {
    color: #ffcc00;
    margin: 30px;
}

/* Tabela de Planos */
#tabela-planos {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #222;
    color: white;
}

#tabela-planos th, #tabela-planos td {
    border: 1px solid #ffcc00;
    padding: 12px;
    text-align: center;
}

#tabela-planos thead {
    padding: 10px;
    font-weight: bold;
    color: #ffcc00;
    font-size: 1,2em;
}

#tabela-planos tbody tr:hover {
    background-color: #333;
}
