
/* Tabela de Planos */
#tabela-planos {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #222;
    color: white;
}

#tabela-planos th, #tabela-planos td {
    border: 1px solid #ffcc00;
    padding: 12px;
    text-align: center;
}

#tabela-planos thead {
    padding: 10px;
    font-weight: bold;
    color: #ffcc00;
    font-size: 1,2em;
}

#tabela-planos tbody tr:hover {
    background-color: #333;
}
