/* Arquivo de estilização pagina "sobre" */

/* estilo para as listas da página "sobre" */
section{
    padding: 20px;
}

main ul, main ol {
    display: inline-block;
    text-align: left;
    margin-top: 20px;
    line-height: 1.8;
}
h2{
    display: flex;
    justify-content: center;
}

 #his{
    display: flex;
    justify-content: center;
}

h3 {
    color: #ffcc00;
    margin: 30px;
}
li:hover {
    background-color: #ffcc00;
    color: #000;
    height: 30px;
}
