body{
    background-image: url('CJOWEB1-main/Imagens%20Site/pexels-ivan-s-4162451.jpg');
    background-size: cover;
    background-position: center;
    /*posicionar camadas*/
    z-index: 1;
}

.container {
    background-color: rgba(48, 48, 48, 0.8);
    /* Fundo branco com opacidade */
    padding: 40px;
    border-radius: 10px;
    max-width: 600px;
    margin: 100px auto;
    /* Centraliza a div na página */
    /* text-align: center; */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    /* Sombra para dar destaque ao bloco */
    display: block;
    /* Garante que a div seja exibida como bloco */
    z-index: 2;

    /*Formatação do texto*/
    font-family: Noto Sans, sans-serif;
    font-size: 22px;
    font-weight: 400;
    font-width: 150%;
    text-align: left;

}
.barra-lateral {
    width: 4px;
    height: 20px;
    background-color: #ffcc00;
    display: inline-block;
    margin-right: 10px;
}
