

/* estilo para as listas da página "sobre" */

main ul, main ol {
    display: inline-block;
    text-align: left;
    margin-top: 20px;
    line-height: 1.8;
}

h3 {
    color: #ffcc00;
    margin: 30px;
}