/* Requisito F: Propriedade de cores e fontes */
body {
    font-family: Arial, Helvetica, sans-serif;
   background-image: url(../Imagens%20Site/WhatsApp\ Image\ 2026-06-16\ at\ 10.37.56.jpeg);
    background-size: 1920px 1080px;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    position: relative;
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Preto com 50% de opacidade */
    z-index: 1; /* Fica acima da imagem */
}
header {
    size: 100%;
    position: relative;
    z-index: 2; /* Fica acima do pseudo-elemento ::before */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #000 !important;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px;
}

button {
    background-color: #ffcc00;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px
}
#dica[type="text"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
    width: 270px;
    display: none;
}
